
/*  ------------- reset e variáveis ------------  */

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-family: 'Poppins';
}

:root {
    --corheader: rgb(90, 15, 15);
    --corfundo1: rgb(167,17,17,1);
    --corfundo2: rgba(120, 16, 16);
    --corbotaop: rgb(72, 17, 17);
}

/*  ------------- reset - end  ------------  */

html {
    scroll-behavior: smooth;
}

ul{
    display: flex;
    color: aliceblue;
    margin: 8px 0px 0;
    list-style: none;
}

a{
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

li {
    padding: 15px 18px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
}

a:hover {
    color: rgb(99, 97, 97);
}

header{
    padding: 2px;
    background-color: var(--corheader);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.menu-geral {
    width: 100%;
    display: flex;
    max-width: 1150px;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.btn-menu {
    display: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin: 8px;
}

.menu-responsivo {
    display: none;
}

#logo-m {
    padding: 9px;
    margin-left: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.ini {
    background: linear-gradient(146deg, rgb(167,17,17,1) 50%, rgba(120, 16, 16) 50%);
}

.inicio {
    padding: 15% 1.3% 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.inicio h1 {
    font-size:40px;
}

.txt{
    margin-top: 2%; 
}

.txt h1, h3{
    animation-name: slideInRight;
    animation-duration: 1.5s;
}

#apresentacao{
    margin-top: 3%;
}

#botao-inicio {
    background-color: var(--corfundo2);
    padding: 2%;
    margin-top: 3%;
    border: 0ch;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    cursor: pointer;
    font-size: 15px;
}

#botao-inicio:hover {
    transform: translateY(-4px);
    background-color: var(--corbotaop);
}

/*  -------   animação  --------   */

@keyframes slideInLeft {
    from {
        transform: translateX(100px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(-100px);
    }

    to {
        transform: translateX(0px);
    }
}

[data-anima] {
    opacity: 0;
    transition: 1s;
}

[data-anima="down"] {
    transform: translate3d(0, -100%, 0);
}

[data-anima="up"] {
    transform: translate3d(0, 100%, 0);
}

[data-anima="left"] {
    transform: translate3d(-100%, 0, 0);
}

[data-anima="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anima].animate {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

/*  -------   animação - end   --------   */

#mauricio:hover{
    transform: scale(1.1);
}

#mauricio {
    border-radius: 50%;
    margin-left: 150px;
    width: 20%;
    animation-name: slideInLeft;
    animation-duration: 1.5s;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.s-sobremim {
    background-color: var(--corfundo1);
}

.SobreMim {
    display: flex;
    padding: 150px 50px;
    justify-content: space-between;
    max-width: 1150px;
    margin: auto;
}

.SobreMim h1 {
    font-size: 40px;
}

.SobreMim button {
    background-color: var(--corfundo2);
    padding: 2%;
    margin-top: 30px;
    border: 0ch;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
    cursor: pointer;
}

.SobreMim button:hover{
    transform: translateY(-5px);
    background-color: var(--corbotaop);
}

#coffe:hover{
    transform: scale(1.1);
    transition: 0.3s all ease-in-out;
}

#coffe {
    height: 300px;
    width: 300px;
    border: 5px;
    border-radius: 30px;
}

.info-sobremim {
    margin-left: 90px;
}

.info-sobremim p {
    margin-top: 30px;
}

/*---------  projetos  --------*/

.projetos {
    background-color: var(--corfundo2);
    text-align: center;
    padding: 20px 0px 100px;
}

.projetos .container-projetos {
    display: flex;
    padding: 6px 90px 10px;
}

.projetos h1 {
    text-align: center;
    padding: 50px 0 0;
    font-size: 40px;
}

.projetos .container-projetos img {
    border: solid;
    border-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: 0.5s;
}

.projetos .container-projetos img:hover {
    transform: scale(1.1);
    border-color: rgb(71, 71, 71);
}

.projetos .container-projetos div {
    display: flex;
    flex-direction: column;
    padding: 40px 40px 0 40px;
    align-items: center;
}

.projetos #div-escondido {
    display: none;
}

.projetos #ver {
    background-color: var(--corfundo1);
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    border: 0;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.projetos #ver:hover {
    background-color: var(--corbotaop);
    transform: translateY(-4px);
}

.projetos .container-projetos div button {
    background-color: var(--corfundo1);
    margin: 20px 0 0;
    padding: 3%;
    border: 0;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.projetos .container-projetos div button:hover {
    transform: translateY(-5px);
    background-color: var(--corbotaop);
}

.projetos .git .github {
    background-color: transparent;
    border: 0;
    padding: 10px 10px 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition:0.5s
}

.projetos .git .github:hover {
    scale: 1.2;
    color: grey;
}

/* ------   contatos   ------  */

.container-contatos{
    background-color: var(--corfundo1);
}

.contatos {
    text-align: center;
    padding: 50px;
}

.contatos h1 {
    font-size: 50px;
    font-weight: bold;
}

.contatos .info-contato {
    max-width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.contatos .info-contato .info-txt {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contatos .info-contato .info-txt .div-icones {
    padding: 40px;
    width: 280px;
    display: flex;
    justify-content: space-around;
}

.contatos .info-contato .info-txt .icones {
    height: 40px;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.contatos .info-contato .info-txt .icones:hover {
    scale: 1.2;
}

.contatos .info-contato .computador {
    height: 300px;
    border-radius: 100px;
    margin: 50px;
    transition: 0.5s;
}

.contatos .info-contato .computador:hover {
    scale: 1.1;
}

/* ------ rodapé -------- */

.rodape {
    background-color: var(--corfundo2);
    display: flex;
    justify-content: space-around;
    padding: 5px;
    font-size: 13px;
}

.rodape .direitos {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*    responsividade     */

@media (max-width: 860px) {
    #coffe {
        height: 150px;
    }

    .contatos .info-contato {
        font-size: 15px;
        margin-left: 30px;
    }

    .contatos .info-contato .computador{
        max-height: 140px;
        width: 250px;
    }
}

@media (max-width: 650px) {

    [data-anima="right"] {
        transform: translate3d(-100%, 0, 0);
    }

    li {
        padding: 20px;
    }

    .inicio {
        padding: 120px 0px 50px 30px;
    }

    .inicio h1 {
        font-size: 25px;
    }

    .SobreMim {
        display: flex;
        flex-direction: column;
    }

    .SobreMim h1 {
        font-size: 30px;
        margin-top: 10px;
    }

    .info-sobremim p {
        font-size: 12px;
    }

    #coffe {
        text-align: center;
        height: 150px;
        width: 200px;
    }

    .info-sobremim {
        margin-left: 0;
    }

    .projetos .container-projetos {
        flex-direction: column;
    }

    .contatos .info-contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .contatos .info-contato .computador{
        max-width: 150px;
        max-width: 200px;
        border-radius: 50px;
    }

    .rodape {
        padding: 7px;
        font-size: 9px;
    }
}

@media (max-width: 510px) {

    .menu-padrao {
        display: none;
    }

    .btn-menu {
        display: inline-block;
        text-align: start;
    }

    .menu-responsivo {
        display: block;
        height: 0;
        width: 100%;
        z-index: 1001;
        overflow-x: hidden;
        transition: all .5s;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(90, 15, 15, 0.759);
    }

    .menu {
        flex-direction: column;
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
    }
    .menu a {
        font-size: 25px;
    }

    .btn-fecha-menu {
        position: absolute;
        top: 0px;
        right: 10px;
        font-size: 50px;
    }

    header {
        padding: 1px;
    }

    ul {
        padding: 0;
        margin: auto;
    }

    li {
        padding: 5px 15px 09px 05px;
    }

    #logo-m {
        display: none;
    }

    .contatos .info-contato .computador{
        max-width: 50px;
        max-width: 150px;
        border-radius: 50px;
    }

    .contatos .info-contato {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 10px;
    }

    .contatos .info-contato .info-txt .div-icones {
        padding: 40px;
        width: 200px;
        display: flex;
    }

    .contatos .info-contato .info-txt .icones {
        height: 30px;
        transition-duration: 0.3s;
        transition-delay: 0s;
    }

}

@media (max-width: 430px){

    li {
        font-size: 12px;
    }

    .projetos h1 {
        font-size: 25px;
    }

    .projetos .container-projetos div {
        padding: 10px 10px 0 10px;
    }

    .contatos h1 {
        font-size: 25px;
        margin-bottom: 10px;
    }
}

@media (max-width: 350px) {

    li {
        font-size: 10px;
    }

}